@import '../../../utils/colors.scss';

.button {
    border-radius: 6px;
    padding: 12px 24px;
    position: relative;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: .2s ease;
    color: $black;
    background: none;
    overflow: hidden;

    &[disabled] {
        cursor: default;
        background: $grey !important;
        &:hover {
            box-shadow: none;
        }
    }

    &:hover {
        box-shadow: $box-shadow;
    }

    &.transparent {
        &:hover {
            background: $black-hover;
            box-shadow: none;
        }

        &[disabled] {
            background: $black-hover !important;
        }

        .point {
            background: black;
        }
    }

    &.black {
        background: $black;
        color: #fff;
    }

    &.red {
        background: $red;
        color: #fff;
    }

    &.green {
        background: $green;
        color: #fff;
    }

    &.blue {
        background: $blue;
        color: #fff;
    }

    &.loading {
        section {
            opacity: 0;
        }
    }

}

.point {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease;
    animation: point .4s linear forwards;
    opacity: .5;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes point {
    0%{
        transform: translate(-50%, -50%) scale(0);
        opacity: .5;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}